<html>
  <head>
    <title>Ticket List</title>
    <!-- Add CSS framework here -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <div class="container">
      <div class="row">
        <h1 class="col-sm-9">Ticket List</h1>
        <a class="btn btn-primary sm my-3 col-sm-1" href="my_tickets/">
          My Tickets
        </a>
        {% if user.is_authenticated %}
        <a href="{% url 'logout' %}" class="btn btn-primary sm my-3 col-sm-1 mx-1">Logout</a>
        {% else %}
        <a href="{% url 'login' %}" class="btn btn-primary sm my-3 col-sm-1 mx-1  ">Login</a>
        {% endif %}
      </div>

      {% if user.is_authenticated %}
      <h2>Welcome, {{ user.username }}!</h2>
      {% else %}
      <h2>Welcome, guest!</h2>
      {% endif %}

      <table class="table table-striped" style="text-align:center;">
        <thead>
          <tr>
            <th>Date Created</th>
            <th>Description</th>
            <th>Price</th>
            <th>Tickets Available</th>
            <th>Size</th>
            <th>User</th>
            <th>Book</th>
          </tr>
        </thead>
        <tbody>
          {% for ticket in tickets %}
          <tr>
            <td >{{ ticket.date_created |date:"Y-m-d "}}</td>
            <td>{{ ticket.description }}</td>
            <td>{{ ticket.price }}$</td>
            <td>{{ ticket.availabel }}</td>
            <td>{{ ticket.size }}</td>
            <td>{{ ticket.user }}</td>
            <td>
              <a
                class="btn btn-primary"
                href="{% url 'make_booking' ticket.id %}"
              >
                Book
              </a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </body>
</html>
